@import url('https://fonts.googleapis.com/css?family=Assistant|Crimson+Text');

.mainContainer{
  max-width: 600px;
  margin: auto;
  margin-top: 25px;
}

.name{
  font-family: Assistant;
  font-size: 54pt;
  text-transform: uppercase;
}

#presentation{
font-family: "Crimson Text";
font-size: 16pt;
}

img{
  float: left;
  margin: 4px 10px 0px 0px;
  border: 1px
  solid #000000;
  margin-right: 30px;
}
