@import url('https://fonts.googleapis.com/css?family=Assistant|Bitter|Crimson+Text');

.mainContainer{
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
}


.name{
  font-family: Assistant;
  font-size: 54pt;
  text-transform: uppercase;
}

#presentation{
font-family: "Crimson Text";
font-size: 16pt;
}
