@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700');

#topMargin{
  margin-top: 30px;
}

body{
  font-family: "Crimson Text";
  font-size: 16pt;
}


#intro{
  text-align: right;
  font-size: 25pt;
  font-weight: 700;
}

.centeredHeader{
  text-align: center;
  word-break: break-all;
}

.whiteSpacer{
  margin-top: 50px;
}



.workExperiancename{
  font-weight: 600;
}


.additionalInfoName{
  font-weight: 600;
}
